#background {
  background-image: url("brick.png");
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
#header-parent {
  display: flex;
  justify-content: space-around;
}
#image {
  font-family: Panchang;
  font-size: 30px;
  font-weight: 500;
  line-height: 39.6px;
  text-align: center;
}
#hero-div {
  align-items: center;
}
#div19 {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(240, 240, 240);
  align-items: center;
  border-radius: 10px;
  margin-top: 50px;
}
#sportcar {
  width: 600px;
}
ul {
  font-family: arial;
  font-style: bold;
  font-weight: 700;
}
#benz {
  width: 500px;
}
#nav {
  display: flex;
  justify-content: space-evenly;
}
#display {
  display: flex;
  justify-content: space-evenly;
}
#button {
  width: 400px;
  height: 30px;
  border-radius: 40px;
  background-color: whitesmoke;
  border: none;
  margin-top: 10px;
}
#button1 {
  background-color: rgb(21, 21, 21);
  color: white;
  width: 120px;
  height: 40px;
  border-radius: 40px;
  margin-left: 25px;
  border: none;
}
#home {
  color: red;
}
#texrplus {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}
#learn-more {
  width: 120px;
  height: 40px;
  background-color: rgb(21, 21, 21);
  border-radius: 40px;
  border: none;
  color: white;
  font-family: arial;
  font-weight: 700;
  margin-bottom: 50px;
}
section1 {
  align-items: center;
  text-align: center;
}
#div6 {
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 30px;
}
#phones {
  width: 200px;
  padding-top: 50px;
}
#div7 {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
}
#info {
  display: flex;
  text-align: center;
}
#div2 {
  display: flex;
  justify-content: space-evenly;
}
#div3 {
  display: flex;
  background-color: rgb(240, 240, 240);
  align-items: center;
  border-radius: 10px;
}
#div18 {
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 30px;
}
#div8 {
  display: flex;
  justify-content: space-evenly;
}
#line {
  border-bottom: 1px solid gray;
}
#div10 {
  background-color: rgb(240, 240, 240);
  align-items: center;
  border-radius: 10px;
}
#div11 {
  background-color: rgb(240, 240, 240);
  align-items: center;
  border-radius: 10px;
}

#div13 {
  background-color: rgb(240, 240, 240);
  align-items: center;
  border-radius: 10px;
}
#div14 {
  background-color: rgb(240, 240, 240);
  align-items: center;
  border-radius: 10px;
}
#div17 {
  background-color: rgb(240, 240, 240);
  align-items: center;
  border-radius: 10px;
}

#wheel {
  width: 200px;
  padding-top: 250px;
  margin-left: 50px;
}
#div4 {
  background-color: rgb(240, 240, 240);
  align-items: center;
  margin-left: 30px;
  border-radius: 10px;
}
#taxi {
  width: 200px;
}
#div15 {
  display: flex;
}
#P1 {
  color: goldenrod;
}
#h2 {
  color: red;
  margin-right: 20px;
}
#car {
  width: 500px;
  padding-top: 10px;
}
#head {
  display: flex;
  justify-content: space-evenly;
  margin-left: 50px;
}
p {
  font-family: arial;
  font-weight: 700;
}
